@use "variables";
@use "mixins" as *;
.experience-container {
    border: 1px solid variables.$light-gray;
    padding-bottom: 2em;
    .experience-nav-container {
        .exp-nav-elements {
            display: flex;
            flex-direction: row;
            list-style: none;
            padding: 0;
            margin-left: 1em;
            margin-bottom: 2em;
            @include breakpoint-up(medium) {
                margin-left: 4.5em;
            }
            .exp-nav-el {
                margin-right: 0.1em;
                background-color: variables.$light-gray;
                padding-right: 2em;
                padding-left: .5em;
                padding-top: .5em;
                padding-bottom: .5em;
                font-weight: 400;
                font-size: .7em;
                cursor: pointer;
                @include breakpoint-up(medium){
                    font-size: 1em;
                }
                &:hover {
                    background-color: variables.$main-color;
                    color: variables.$yellow;
                }
            }
            .selected {
                background-color: variables.$main-color;
            }
        }
    }
    .work-container, .education-container {
        .acc-block {
            margin-left: 2em;
            @include breakpoint-up(medium) {
                margin-left: 4.5em;
            }
            .curl, .curl2 {
                color: variables.$yellow;
                font-weight: 400;
            }
            .curl2 {
                margin-bottom: 1em;
                margin-left: 1.7em;
            }
            .dots {
                color: variables.$bright-gray;
                font-weight: 200;
            }
            .arrow {
                margin-right: .7em;
            }
            .acc-title {
                color: variables.$vivid-blue;
                font-weight: 200;
                cursor: pointer;
            }
            .acc-content {
                h4 {
                    margin-top: 1em;
                    margin-bottom: 1em;
                    font-weight: 300;
                }
                .acc-descr {
                    color: variables.$yellow;
                    line-height: 1.1em;
                    margin-top: 0;
                }
                .year {
                    font-size: .8em;
                }
            }
        }
    }
    .cert-container {
        .cert-acc-block {
            margin-left: 2em;
            display: flex;
            flex-direction: column;
            @include breakpoint-up(medium) {
                margin-left: 4.5em;
            }
            .cert-acc-title {
                margin-bottom: 1em;
                color: variables.$vivid-blue;
                font-weight: 200;
                .curl {
                    color: variables.$yellow;
                    font-weight: 200;
                }
            }
        }
    }
    .publications-container {
        .article__list {
            
                width: 90%;
                margin-left: auto;
                margin-right: auto;
                list-style: none;
            .article__el {
                margin-bottom: 2em;
                padding-top: .5em;
                padding-bottom: .5em;
                &:hover {
                    background-color: variables.$lighter-gray;
                }
                a {
                    text-decoration: none;
                    color: variables.$main-font-white;
                }
            }
        }
    }
}