@use "variables";
@use "mixins" as *;
footer {
    margin-bottom: 3em;
    padding-bottom: 2em;
    display: flex;
    flex-direction: column;
        h2 {
            margin-left: 1em;
            margin-bottom: 2em;
            @include breakpoint-up(medium) {
                margin-left: 3em;
            }
        }
        .curl3 {
            color: variables.$yellow;
        }
        .footer__container {
            display: flex;
            flex-direction: column;
            justify-content: center;
        }
    .socials-block{
        display: flex;
        justify-content: center;
        justify-self: center;
        .social-logo{
            margin: 1em;
            width: 2.5em;
            height: 2.5em;
            cursor: pointer;
        img {
                
            transition: 0.8s;
            width: 2.5em;
            height: 100%;
            object-fit: cover;
            }
        &:hover {
            transform: translate(0, 0.2em);
        }
        }
    }
    .copy {
        margin: auto;
        justify-self: center;
        justify-content: center;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .designby {
        margin: 1em auto;
        align-self: center;
        height: 2em;
        display: flex;
        align-items: center;
        flex-direction: row;
        gap: 1em;
        .bytealogo {
            height: 2em;
            img {
                height: 100%;
            }

        }
    }


}