@use "variables";
@use "mixins" as *;
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');
html {
    font-size: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 5em;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    margin: 0 auto;
    padding: 0;
    line-height: 1.3;
    background-color: variables.$main-color;
    max-width: 90em;
    min-width: 10em;
    color: variables.$main-font-white;
    font-family: "Noto Sans Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    height: 100vh;

}
main {
    margin-block-start: 3em;
}
.hide-for-desktop {
    @include breakpoint-up(medium) {
        display: none;
    }
}
.hide-for-mobile {
    @include breakpoint-down(medium) {
        display: none;
    }
}
.hide {
    display: none;
}
.change-bg-color-dark {
    background-color: variables.$main-color;
}
.change-bg-color-light {
    background-color: variables.$light-gray;
}
.turn {
    transform: rotateZ(90deg);
    margin-right: .6em;
}