.topnav {
    height: 3em;
    background-color: $light-gray;
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    position: sticky;
    padding-right: 3em;
    // top: 0;
    
    .hamburger {
        background: none;
        border: none;
        margin-top: .7em;
        margin-right: 2em;
        @include breakpoint-up('medium'){
            display: none;
        }
    }
    &__open[aria-expanded='true'] {
        + .topnav__menu {
            translate: 0;
        }
    }
    &__close {
        display: block;
        margin-inline-start: auto;
        margin-block-end: 8em;
    }
    &__menu {
        @include breakpoint-down('medium') {
            position: fixed;
            inset: 0;
            background-color: $light-gray;
            translate: 100vw 0;
            transition: translate 0.5s ease-in-out;
        }
    }
    &__links {
        // border: 1px solid yellow;
        display: flex;
        align-items: center;
        gap: 2em;            
        color: $main-font-white;
        // background-color: $main-color;
        margin: 0;
        padding: 0;
        // display: none;
        // visibility: hidden;  
        @include breakpoint-down('medium') {
            flex-direction: column;
        }       
    }
    &__item {
        // border: 1px solid red;
        list-style: none;
        text-decoration: none;
        padding: 0.8em;
        cursor: pointer;
        &:hover {
            // text-decoration: underline;
            background-color: $main-color;
        }
    }
    &__link {
        color: $main-font-white;
        text-decoration: none;
    }

}       
    @include breakpoint-down('medium') {
        // display: block;
        .nav-all-element {
            display: flex;
            flex-direction: row;
            margin-top: 0;
            background-color: transparent;
            .nav-element {
                padding-bottom: 0.3em;
                padding-top: .3em;
                padding-left: 0.2em;
                padding-right: .2em;
                margin-right: 2em;
                &:hover {
                    background-color: $dark-gray;
                }   
                    .nav-link {
                        padding-bottom: 0;
                        // margin-right: 2em;                   
                }
            }
        }
    }
    



