@use "variables";
@use "mixins" as *;
.technologies {
    &__container {
        min-height: 10em;
        border-bottom: 1px solid variables.$light-gray;
        margin-bottom: 2em;
        h2 {
            margin-left: 1em;
            margin-bottom: 2em;
            @include breakpoint-up(medium) {
                margin-left: 3em;
            }
        }
        .curl {
            color: variables.$yellow;
        }
    }
    &__list {
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: row;
        text-decoration: none;
        list-style: none;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        width: 100%;
        
    }
    &__el {
        width: 8em;
        height: 2em;
        margin-bottom: 2em;
        > img {
            height: 100%;
        }
        &:hover {
            animation: skew-x-shakeng 4s;
            @keyframes skew-x-shakeng{
                0% { transform: skewX(-15deg); }
                5% { transform: skewX(15deg); }
                10% { transform: skewX(-15deg); }
                15% { transform: skewX(15deg); }
                20% { transform: skewX(0deg); }
                100% { transform: skewX(0deg); }
            }
        }
    }
}