// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900

// .noto-sans mono-<uniquifier> {
//     font-family: "Noto Sans Mono", monospace;
//     font-optical-sizing: auto;
//     font-weight: <weight>;
//     font-style: normal;
//     font-variation-settings:
//       "wdth" 100;
//   }

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@100..900&display=swap');

body {
    margin: 0;
    padding: 0;
    line-height: 1.3;
    background-color: rgb(34, 35, 36);
}