// colors 
$main-color: #121212;
$dark-gray: #1c1c1e;
$light-gray: #3a3a3c;
$lighter-gray: #3a3a3c60;
// font colors
$main-font-white: white;

$vivid-blue: #30BBf2;
$gold: #c7ac5a;
$yellow: #F0DB4F;

$bright-gray: #cacccb;